/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main .fixed-bottom-right{
  position: fixed;
  bottom: 130px;
  right: 20px;
  z-index: 10;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
}
